body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

header h1 {
    font-size: 60px;
    text-align: center;
}

.store_list {
    border: 1px solid black;
    width: 300px;
    height: auto;
    padding: 12px 20px;
    background: lightgray;
    float: left;
    margin: auto;
}

.store_map {
    border: 1px solid black;
    text-align: center;
    width: 800px;
    height: 700px;
    padding: 12px 20px;
    background: lightgray;
    float: left;
    margin: auto;
}

.store_map h3 {
        padding: 25px 25px 25px 25px;
    }

.store_map input[type=text] {
    text-align: center;
    width: 15%;
    height: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
}